SECRET_KEY=cambia-esto-por-una-clave-larga-y-aleatoria
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgresql://usuario:contraseña@ep-xxxxx.aws.neon.tech/neondb?sslmode=require

CORS_ALLOWED_ORIGINS=http://localhost:3000
