# Python
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno (secretos)
.env
.env.*
!.env.example

# Django
db.sqlite3
staticfiles/
media/
*.log

# Editores y sistema
.vscode/
.idea/
.DS_Store
Thumbs.db
